{% extends 'cart/base.html' %}
{% load static %}

{% block title %}
    Central Supplies | {{ title }}
{% endblock %}

{% block header %}
  {% include 'central_supplies/includes/header.html' %}
{% endblock %}

{% block content %}
  <div class="row p-2"><div class="col-lg-9">
  <h2>{{ title }}</h2>
  <div class="table-responsive-sm"><table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="row">Image</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Remove</th>
        <th scope="col">Unit price</th>
        <th scope="col">Price</th>        
      </tr>
    </thead>
    <tbody>
    {% for item in cart %}
      {% with product=item.product %}
      <tr>
        <td>
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}
            {% else %}{% static "img/no_image.jpeg" %}{% endif %}" class="img-thumbnail" alt="Product image">
          </a>
        </td>
        <td>{{ product.name }}</td>
        <td>
          <form action="{% url 'cart:cart-add' product.id %}" method="post" >
            {{ item.update_quantity_form.quantity }}
            {{ item.update_quantity_form.update }}
            {% csrf_token %}
            <input type="submit" value="Update" />
          </form>
        </td>
        <td><a href="{% url "cart:cart-remove" product.id %}">Remove</a></td>
        <td class="num">${{ item.price }}</td>
        <td class="num">${{ item.total_price }}</td>
      </tr>
      {% endwith %}
    {% endfor %}
      <tr class="table-primary">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table></div>
  <p class="text-right">
    <a href="{% url 'central_supplies:product-list' %}" class="btn btn-primary">Continue shopping</a>    
    <a href="{% url 'orders:order-create' %}" class="btn btn-primary">Checkout</a>
  </p>
  
  </div>
{% include "central_supplies/includes/sidebar.html" %}  
  </div>
{% endblock %}

