<h3><i class="fas fa-shopping-cart"></i> Shopping Cart</h3>
{% with total_items=cart|length %}
  <div class="text-center">{% if cart|length > 0 %}
    You cart:
    <a href="{% url 'cart:cart-detail' %}">
    {{ total_items }} item{{ total_items|pluralize }}
    ${{ cart.get_total_price }}
    </a>    
  {% else %}
    Your cart is empty.
  {% endif %}</div>
{% endwith %}
<hr>

